<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>All Games</title>
</head>
<body>
    <h1>My Games</h1>

    <ul>
        <% games.forEach((game)=>{ %>
            <a href="/users/<%= user._id %>/games/<%= game._id %>">
                <li> <%= game.game %>  </li>
            </a>
            <!-- <li>Price: <%= game.price %> Purchase Type: <%= game.purchaseType %></li> -->
          <% }) %>
    </ul>
</body>
</html>