<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>My Games</title>
</head>
<body>

    <%- include('../partials/_navbar.ejs') %>

    <main class="main-content">
        <h1>Games</h1>
        <div class="links-container">
            <a href="/users/<%=user._id%>/games/new">Add a Game</a> 
            <a href="/users/<%=user._id%>/games/allgames">My Games</a> 
        </div>

        <ul class="games-list">
            <% users.forEach((user)=>{ %>
               <%  user.games.forEach(game => { %> 
                    <li class="game-item">
                        <div class="game-container">
                            <p class="game-name"><%= game.game %></p>
                            <p class="game-price">Price: <%= game.price %></p>
                            <p class="game-purchase-type">Purchase Type: <%= game.purchaseType %></p>
                        </div>
                    </li>
                    <%  })%> 
            <% }) %>
        </ul>
    </main>

</body>
</html>
